<div>
    <h2 class="ui header">Manipulacja DOM</h2>
    <div class="row">
        <div class="ui top attach tabular menu">
            <div (click)="setPage('properties')" class="item">Właściwości</div>
            <div (click)="setPage('structural')" class="item">Struktura</div>
        </div>
    </div>

<!--    <div *ngIf="page=='structural'" class="ui bottom attached tab segment active">
        <dom-structural></dom-structural>
    </div>
    <div *ngIf="page=='properties'" class="ui bottom attached tab segment active">
        <dom-properties></dom-properties>
    </div>-->

    <ng-container [ngSwitch]="page">
        <div *ngSwitchCase="'structural'" class="ui bottom attached tab segment active">
            <dom-structural></dom-structural>
        </div>
        <div *ngSwitchCase="'properties'" class="ui bottom attached tab segment active">
            <dom-properties></dom-properties>
        </div>    
    </ng-container>
</div>




